.weatherDetails {
  width: 70%;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  padding: 20px;
}

.mainDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mainDetails h4 {
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(
    80deg,
    #292929 -2.93%,
    rgba(255, 255, 255, 0) 212.44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainDetails p {
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainDetails p span {
  color: #292929;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sunsetSunrise {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.textTime {
  display: flex;
  flex-direction: column;
}

.textTime h5 {
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textTime p {
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weatherIcon {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherIcon img {
  width: 100%;
}

.weatherIcon h4 {
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.extraDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 30px;
  width: 50%;
}

.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.details h5 {
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.details p {
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 991px) {
  .weatherDetails {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mainDetails h4 {
    font-size: 75px;
  }

  .mainDetails p {
    font-size: 16px;
  }

  .mainDetails p span {
    font-size: 27px;
  }

  .textTime h5 {
    font-size: 18px;
  }

  .textTime p {
    font-size: 15px;
  }

  .weatherIcon h4 {
    font-size: 28px;
  }

  .details h5 {
    font-size: 14px;
  }

  .details p {
    font-size: 17px;
  }
}

@media screen and (max-width: 550px) {
  .weatherDetails {
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 10px;
    align-items: flex-end;
  }

  .extraDetails {
    width: 100%;
  }

  .mainDetails {
    align-items: center;
  }

  .mainDetails h4 {
    font-size: 54px;
  }

  .mainDetails p {
    font-size: 11px;
  }

  .mainDetails p span {
    font-size: 15px;
  }

  .sunsetSunrise img {
    width: 40px;
    height: 31px;
  }

  .textTime h5 {
    font-size: 13px;
  }

  .textTime p {
    font-size: 11px;
  }

  .weatherIcon img {
    width: 170px;
  }

  .weatherIcon h4 {
    font-size: 20px;
  }
  .extraDetails {
    justify-content: space-around;
  }

  .details {
    width: auto;
  }

  .details img {
    width: 40px;
  }

  .details h5 {
    font-size: 12px;
  }

  .details p {
    font-size: 12px;
  }

}
