.hourlyForecast {
  width: 60%;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.hourlyForecast h3 {
  color: #292929;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hoursContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hours {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours p {
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.firstImg {
  width: 100%;
}

.secondImg {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 991px) {
  .hourlyForecast {
    width: 100%;
  }
}


@media screen and (max-width: 550px) {
  .hourlyForecast {
    padding: 10px;
  }
  
  .hourlyForecast h3 {
    font-size: 26px;
  }
  
  .hours {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hours p {
    font-size: 15px;
  }
  
  .firstImg {
    width: 100%;
  }
  
  .secondImg {
    width: 30px;
    height: 30px;
  }
 }