.searchBar {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorMessage {
  color: red;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}

.searchBar input {
  width: 70%;
  border-radius: 40px;
  padding: 8px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}

.searchBar button {
  width: 100px;
  padding: 8px;
  border-radius: 40px;
  background-color: #4cbb17;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchBar button:hover {
  background-color: #38990b;
}

@media screen and (max-width: 768px) {
  .searchBar {
    flex-direction: column;
    gap: 10px;
    order: 2;
  }
  .searchBar button {
    width: 100%;
  }

  .searchBar input {
    width: 100%;
    padding: 8px;
  }

  .errorMessage {
    order: 1;
  }
}

@media screen and (max-width: 550px) {
  .searchBar button {
    font-size: 15px;
    padding: 5px;
  }

  .searchBar input {
    font-size: 15px;
    padding: 5px;
  }

  .errorMessage {
    font-size: 11px;
  }
}
