@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weatherApp {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}

.weatherAppContainer {
  display: flex;
  flex-direction: column;
  gap: 49px;
  max-width: 1512px;
  width: 100%;
  margin-top: 63px;
  margin-bottom: 63px;
  height: auto;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}

.firstSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.secondSide {
  display: flex;
  justify-content: center;
  gap: 61px;
}

.message {
  font-size: 30px;
  color:darkslategrey;
}