@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weatherApp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}

.geolocationError {
  color: red;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  margin-top: 30px;
  text-align: center;
}

.weatherAppContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1280px;
  width: 100%;
  padding: 50px;
  height: auto;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}

.firstSide {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.secondSide {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.message {
  font-size: 30px;
  color: darkslategrey;
  font-family: Poppins;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .weatherAppContainer {
    padding: 20px;
  }
  .firstSide {
    flex-direction: column;
  }
  .secondSide {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .weatherDetails {
    width: 100%;
  }

  .message {
    font-size: 23px;
  }

  .geolocationError {
    font-size: 23px;
  }
}
